<html lang="en"><head>
	<meta charset="UTF-8">
	<title> Ei'sGallery ❤️</title>
	<link href="images/gt_black.png" rel="icon" type="image/png">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://rawgit.com/deepstreamIO/deepstream.io-client-js/master/dist/deepstream.min.js"></script>
</head>

<body>
	<style>

	</style>


	<div class="login" style="margin-top: 20%; text-align: center; color: white;">
	    	

	    	
	    		<h2>Ei'sGallery ❤️ </h2>
	    	
	</div>	
	<div class="login">
	    	

	    	<a href=auth/facebook class="facebook">
	    		<i class="fa fa-facebook"></i>
	    		<span>Sign In with Facebook</span>
	    	</a>
	</div>	
		
</body>

</html>
