<!DOCTYPE html>
<html lang="en">
<head>
    <title> Ei'sGallery ❤️</title>
   
<!--===============================================================================================-->
	<link href="images/gt_black.png" rel="icon" type="image/png">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="search/css/util.css">
	<link rel="stylesheet" type="text/css" href="search/css/main.css">
<!--===============================================================================================-->
<link href="argon/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
</head>
<body>

	
	<div class="container-contact100">
		<div class="contact100-map" id="google_map" data-map-x="16.463098" data-map-y="97.648910" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

		<button class="contact100-btn-show">
			<i class="fa fa-search-plus" aria-hidden="true"></i>
		</button>

		<div class="wrap-contact100">
			<button class="contact100-btn-hide">
				<i class="fa fa-close" aria-hidden="true"></i>
			</button>

			<form action="/post1" method="post" class="contact100-form validate-form">
				<span class="contact100-form-title">
					"Look for the city you wanna visit"
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">city name ?</span>
					<input class="input100" type="text" name="city" placeholder="enter city name ?">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button type="submit" class="contact100-form-btn">
						<span>
							Search
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>

			<span class="contact100-more">
							<div class="col-md-12" style="color: #ED4C67; margin:5px;">
								<a style="color: #ED4C67; margin:5px;" href="/index"><i class="ni ni-collection"></i></a>
								<a style="color: #ED4C67; margin:5px;" href="/blogs"><i class="ni ni-money-coins"></i></a>
								<a style="color: #ED4C67; margin:5px;" href="/forecast"> <i class="ni ni-map-big"></i></a>
								<a style="color: #ED4C67; margin:5px;" href="/single"><i class="ni ni-tablet-button"></i></a>
								<a style="color: #ED4C67; margin:5px;" href="/manual"> <i class="ni ni-support-16"></i></a>
								<a style="color: #ED4C67; margin:5px;" href="/single"> <i class="ni ni-send"></i></a>
								<a style="color: #ED4C67; margin:5px;" href="/"><i class="ni ni-button-power"></i></a>
							</div>

					<p class="contact100-more-highlight"> CHECK IN CONSOLE, DATASETS COMING WITH LOG FORMAT </p>
				
			</span>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="search/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="search/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="search/vendor/bootstrap/js/popper.js"></script>
	<script src="search/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="search/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="search/vendor/daterangepicker/moment.min.js"></script>
	<script src="search/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="search/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="search/js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="search/js/main.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
