<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

    <title>Galarie</title>
</head>

<body class="body">
    <!-- ************************************** --  HEADER START  -- ****************************************** -->
    <header class="header">




        <!-- Sortby Grid -->
        <div class="nav__sort">
            <div class="droptype">
                <button class="droptype__btn">
                    Type&nbsp;:
                    <i class="fa fa-caret-down"></i>
                </button>

                <div class="droptype__content">
                  
                    <a href="/NATURAL">NATURAL</a>
                    <a href="/RAIN">RAIN</a>  
                    <a href="/ROREST">FOREST</a>
                    <a href="/FLOWER">FLOWER</a>
                    <a href="/MOUNTAIN">MOUNTAIN</a>
                    <a href="/OCEAN">OCEAN</a>
                    <a href="/ORCHARD">ORCHARD</a>
                    <a href="/CITY">CITY</a>
                    <a href="/CARS">CARS</a>
                    <a href="/PAINTING">PAINTING</a>
                    <a href="/WAVE">WAVE</a>  
                    <a href="/PANORAMA">PANORAMA</a>
                    <a href="/WILDLIFE">WILDLIFE</a>
                    <a href="/WATERFALL">WATERFALL</a>
                    <a href="/DARK">DARK</a>
                    <a href="/DATE">DATE</a>


                </div>
            </div>
        </div>



        <div class="nav__search">
            <div class="nav__search--form">
                <form action="/keyword" method="post">
                    <input type="text" class="searchbar" name="keyword1" placeholder="Searching for keywords?" onkeyup="this.form.submit()">
                    </a>
                </form>
            </div>
        </div>





    </header>

    <!-- ************************************** --  HEADER END  -- ****************************************** -->


<!-- ************************************** --  CARD START  -- ****************************************** -->

<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <form action="/" class="nform" method="post" enctype="multipart/form-data">

                <div class="nform__group">

                    <select class="nform__input" name="type">
                        <option selected disabled>select type</option>
                        <option value="NATURAL">NATURAL</option>
                        <option value="RAIN">RAIN</option>
                        <option value="FOREST">FOREST</option>
                        <option value="FLOWER">FLOWER</option>
                        <option value="MOUNTAIN">MOUNTAIN</option>
                        <option value="OCEAN">OCEAN</option>
                        <option value="ORCHARD">ORCHARD</option>
                        <option value="CITY">CITY</option>
                        <option value="CARS">CARS</option>
                    </select>


                </div>

                <div class="nform__group">
                    
                    <input type="text" class="nform__input" placeholder="keyword" id="name" name="keyword"  required />
                    <label for="name" class="nform__label">keyword</label>
                    

                </div>

                <div class="nform__group">

                    <div class="nform__input">
                        <div class="nform__group--upload">

                            <input class="nform__upload" type="file" name="image" required>
                            <span>👆🏻 👆🏻 👆🏻 👆🏻 👆🏻</span>
                        </div>
                    </div>
                </div>

                <div class="nform__group">
                    <div class="row">
                        <button class="btn btn--blue btn--nav" type="submit">
                            SAV
                        </button>

                        <button class="btn btn--pink btn--nav" type="reset">
                            RES
                        </button>
                    </div>
                </div>
            </form>
    </nav>
</div>

<!-- ************************************** --  CARD END  -- ****************************************** -->



    <!-- ************************************** --  PHTO CONTAINER START  -- ****************************************** -->

    <div class="photos">


        <div class="photos__changer">
            
        </div>



        <% galaries.forEach(function (galarie) { %>
            <img class="photos__img" src="<%= galarie.image %>" alt="" />
         <% }) %>
   <!--
        <% for(let i=0; i<galaries.length; i++) {%>


       <img class="photos__img" src="<%= galaries[i].image %>" alt="" />


      <% } %>
   -->




        <!-- png default 
        <img class="photos__img" src="./img/6.png" alt="" />
        <img class="photos__img" src="./img/2.png" alt="" />
        <img class="photos__img" src="./img/7.png" alt="" />
        <img class="photos__img" src="./img/10.png" alt="" />
        <img class="photos__img" src="./img/13.png" alt="" />
        <img class="photos__img" src="./img/14.png" alt="" />
        <img class="photos__img" src="./img/16.png" alt="" />
        <img class="photos__img" src="./img/19.png" alt="" />
        <img class="photos__img" src="./img/26.png" alt="" />

        
        <img class="photos__img" src="./img/1.jpg" alt="" />
        <img class="photos__img" src="./img/11.jpg" alt="" />
        <img class="photos__img" src="./img/21.jpg" alt="" />
        <img class="photos__img" src="./img/24.JPG" alt="" />
        <img class="photos__img" src="./img/29.jpg" alt="" />
        <img class="photos__img" src="./img/30.jpg" alt="" />
        <img class="photos__img" src="./img/31.jpg" alt="" />
        <img class="photos__img" src="./img/38.jpg" alt="" />
        <img class="photos__img" src="./img/39.jpg" alt="" />
        <img class="photos__img" src="./img/44.jpg" alt="" />
        <img class="photos__img" src="./img/47.jpg" alt="" />
        <img class="photos__img" src="./img/48.jpg" alt="" />
        <img class="photos__img" src="./img/49.jpg" alt="" />
        <img class="photos__img" src="./img/50.jpg" alt="" />
        <img class="photos__img" src="./img/51.jpg" alt="" />
        <img class="photos__img" src="./img/52.jpg" alt="" />
        -->


    </div>

    <!-- ************************************** --  PHOTO CONTAINER END  -- ****************************************** -->



    <div class="sock">


        <!-- ************************************** --  FOOTER START  -- ****************************************** -->

        <div class="footer">
            <div class="footer__big">

                <div class="footer__big--left">
                    <h4>About Us</h4>
                    <p> Greentech Innovation Group is a fast growing software company of Myanmar founded by Engineering
                        Students in 2017,September 22.</p>
                </div>


                <div class="footer__big--right">
                    <h4>Contact us</h4>
                    <div class="contact_info">
                        <p>
                            <span> Address :</span> No.82, Ngantae Ward, Mawlamyine Township, Myanmar
                        </p>
                        <p><span> Phone :</span> +95 255809072,255809073</p>
                        <p>
                            <span> Email : </span> greentechinnovator@gmail.com,gtgmyanmar@gmail.com
                        </p>
                    </div>
                </div>



            </div>

            <div class="footer__small">
                <p>Galarie is the proud work of GREENTECH INNOVATION GROUP, MYANMAR LAND </p>
            </div>
        </div>

        <!-- ************************************** --  FOOTER CONTAINER END  -- ****************************************** -->
    </div>
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>

</html>
