<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title> Ei'sGallery ❤️</title>
	<link href="images/gt_black.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/css/style6.css">
  <link rel="stylesheet" href="assets/sass/style.scss">
</head>

<body>

  <html>
<head>
<meta name="description" content="CSS Tabs" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<title>CSS Tabs</title>
<meta charset=utf-8>
</head>
<body>
  <div class="tabbed" style="margin-top:10%;">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">upload</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">manage</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3">forecast</label>
    <input type="radio" name="tabs" id="tab-nav-4">
    <label for="tab-nav-4">3Dview</label>
    <div class="tabs">
      <div><h2>UPLOAD</h2><p> Once you have successfully authenicated via facebook account successfully then you started seeing options. </p><p> UPLOAD is a page what performs to upload new memories with date, title and photo so there you go to do so and also displaying already uploaded photos out there.</p></div>
      <div><h2>MANAGE</h2><p> Once you have successfully authenicated via facebook account successfully then you started seeing options.</p><P> MANAGE is a page where you could manage your data especially deleting them if you don't like ..in order to make your gallery neat and tidy by removing a few bad things .</p><p></p></div>
      <div><h2>FORECAST</h2><p> Once you have successfully authenicated via facebook account successfully then you started seeing options.</p><p> FORECAST is a page where you could check the weather forecast estimated for one week by typing the city name which you have planned to visit. </p></div>
      <div><h2>3Dview</h2><p> Once you have successfully authenicated via facebook account successfully then you started seeing options.</p><p> 3D VIEW is a page where you could view your uploaded photos in wrap or unwrap way.</p></div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
</body>
</html>
  
  

</body>

</html>
