<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Ei'sGallery ❤️</title>
  <link href="images/gt_black.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="argon/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="argon/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="argon/assets/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="#">
          <img src="argon/assets/img/brand/gallery.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/index">
                <i class="ni ni-collection"></i>
                <span class="nav-link-inner--text">upload</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/blogs">
                <i class="ni ni-money-coins"></i>
                <span class="nav-link-inner--text">manage</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/forecast">
                <i class="ni ni-map-big"></i>
                <span class="nav-link-inner--text">forecast</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/single">
                <i class="ni ni-tablet-button"></i>
                <span class="nav-link-inner--text">display</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/manual">
                <i class="ni ni-support-16"></i>
                <span class="nav-link-inner--text">manual</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/report">
                <i class="ni ni-send"></i>
                <span class="nav-link-inner--text">report</span>
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/logout">
                <i class="ni ni-button-power"></i>
                <span class="nav-link-inner--text">logout</span>
              </a>
            </li>



          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">

        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-xl-6 order-xl-2 mb-6 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-4 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="argon/assets/img/theme/nova.jpg" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  <a href="/error" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="/error" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">22</span>
                        <span class="description">Friends</span>
                      </div>
                      <div>
                        <span class="heading">10</span>
                        <span class="description">Photos</span>
                      </div>
                      <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h3>
                    <%= user.displayName %><span class="font-weight-light"></span>
                  </h3>
                  <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i>Mawlamyine, Myanmar
                  </div>
                  <div class="h5 mt-4">
                    <i class="ni business_briefcase-24 mr-2"></i><% if (user.emails) { %>
                       <%= user.emails[0].value %><br/>
                      <% } %>
                  </div>
                  <div>
                    <i class="ni education_hat mr-2"></i>Technological University (Mawlamyine)
                  </div>
                  <hr class="my-4" />
                  <p>"I love creation as i always do and pretty much talented in art so i think i might have been a pupil to Vincent Vangoh"</p>
                  <a href="#">Show more</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 <a href="ps://www.facebook.com/Greentech-Inc-125488974738023" class="font-weight-bold ml-1" target="_blank">GREENTECH INNOVATION GROUP</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.facebook.com/Greentech-Inc-125488974738023" class="nav-link" target="_blank">Greentech Innovation Group</a>
            </li>
            <li class="nav-item">
              <a href="https://www.facebook.com/Greentech-Inc-125488974738023" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="https://mehmjanakh.wordpress.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/janakhpon/Ei-sGallery/blob/master/README.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="argon/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="argon/assets/js/argon.js?v=1.0.0"></script>
</body>

</html>
