<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Ei'sGallery ❤️</title>
  <link href="images/gt_black.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="argon/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="argon/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="argon/assets/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="#">
          <img src="argon/assets/img/brand/gallery.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
           
           
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/index">
                <i class="ni ni-collection"></i>
                <span class="nav-link-inner--text">upload</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/blogs">
                <i class="ni ni-money-coins"></i>
                <span class="nav-link-inner--text">manage</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/forecast">
                <i class="ni ni-map-big"></i>
                <span class="nav-link-inner--text">forecast</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/single">
                <i class="ni ni-tablet-button"></i>
                <span class="nav-link-inner--text">display</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/manual">
                <i class="ni ni-support-16"></i>
                <span class="nav-link-inner--text">manual</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/report">
                <i class="ni ni-send"></i>
                <span class="nav-link-inner--text">report</span>
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/logout">
                <i class="ni ni-button-power"></i>
                <span class="nav-link-inner--text">logout</span>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">

        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--12 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-4 mt-lg-9">
                <div class="mb-8">
                       
                      </div>
                      
       
            <div class="container">
              <div class="row justify-content-center mt--300">
                <div class="col-lg-8">
                  <div class="card bg-gradient-secondary shadow">
                    <div class="card-body p-lg-5">
                      <form action="/post2" method="POST">
                      <h4 class="mb-1">Any cool outlook?</h4>
                      <p class="mt-0">Report email must be correct!</p>
                      <div class="form-group mt-5">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                          </div>
                          <input class="form-control" name="Name" placeholder="Your name" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input class="form-control" name="Email" placeholder="Email address" type="email">
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <textarea class="form-control form-control-alternative" name="Message" rows="4" cols="80" placeholder="Type a message..."></textarea>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
 
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="argon/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="argon/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="argon/assets/js/argon.js?v=1.0.0"></script>
</body>

</html>
