<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title> Ei'sGallery ❤️</title>
	<link href="images/gt_black.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="assets/css/style4.css">
</head>

<body>


  <form action="/post1" method="post" class="searchform cf" style="background-color: white;">
  <input type="text" placeholder="city name?" name="city" required style="color:black;">
  <button type="submit">Search</button>
</form>

  

  




</body>

</html>
