<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title> Ei'sGallery ❤️</title>
	<link href="images/gt_black.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="assets/css/style2.css">

  
</head>

<body>

  <div class="notify bar-top do-show" data-notification-status="success"> Authenicated via facebook Successfully.</div>

<main>
  <div class="wrapper">
    <h1>Authenicated Successfully</h1>

    <p style="color: #1abc9c;">
      "Your facebook account is already connected with our dataset. So you are allowed to proceeds further feature via through the options below"
    </p>
   

    <nav>
      <a href="/manual" class="button" >manual</a>
      <a href="/index" class="button" >upload</a>
      <a href="/blogs" class="button" >manage</a>
      <a href="/search" class="button" >forecast</a>
      <a href="/3dview" class="button" >3Dview</a>
    </nav>
  </div>
</main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

  

    <script  src="assets/js/index.js"></script>




</body>

</html>
